<div class="container"> 
  <div class="intro">
      <div class="canvas-intro"><%= image_tag("canvas.jpg", :alt => "canvas") %></div> 
    <div class="intro-content"> 
      <h1 class="intro">CANVAS</h1> 
      <p class="intro">Powerful and Practical Business Model Generation.</p>
      <p class="intro">Without the Hassle of a Business Plan.</p> 
      <a class="btn btn-large btn-info" href="#">Sign Up - It's Free</a>
    </div> 
  </div>  

  <div class="main-content">
    <div class="features span8">
      <span>//  </span>Discover Why Canvas is Awesome
    </div> 
    <div class="testimonials span4 offset8"> 
      <span>//  </span>Testimonials
    </div> 
  </div> 
</div> 

<div class="outro">z</div> 
