<div class="container"> 
  <div class="intro">
      <div class="canvas-intro"><%= image_tag("canvas.jpg", :alt => "canvas") %></div> 
    <div class="intro-content"> 
      <h1 class="intro">CANVAS</h1> 
      <p class="intro">Powerful and Practical Business Model Generation.</p>
      <p class="intro">Without the Hassle of a Business Plan.</p> 
      <%= link_to "Sign Up - It's Free", signup_path, class: "btn btn-large btn-info" %> 
    </div> 
  </div>  

  <div class="home-content">
    <div class="features span8">
     <h4><span>//  </span>Discover Why Canvas is Awesome</h4>
     <div class="row">
       <div class="span3">
         <table class="table">
           <thead>
             <tr>
               <th><i class="icon-flag"></i>Kick Ass</th>
             </tr> 
           </thead>
           <tbody>
             <tr> 
               <td>Hi</td> 
             </tr> 
           </tbody> 
         </table>
         <table class="table">
           <thead>
             <tr>
               <th><i class="icon-retweet"></i>Collaborate and Give Update on Progress</th>
             </tr> 
           </thead>
           <tbody>
             <tr> 
               <td>Hey</td> 
             </tr> 
           </tbody> 
         </table>
        </div>
        <div class="span3">
          <table class="table">
            <thead>
              <tr>
                <th><i class="icon-road"></i>Road Map</th>
              </tr> 
            </thead>
            <tbody>
              <tr> 
                <td>Hi</td> 
              </tr> 
            </tbody> 
          </table>
          <table class="table">
            <thead>
              <tr>
                <th><i class="icon-check"></i>Hypothesis Testing</th> 
              </tr> 
            </thead>
            <tbody>
              <tr> 
                <td>Hey</td> 
              </tr> 
            </tbody> 
          </table>
        </div>  
      </div> <!-- row --> 
    </div> <!-- features span8 --> 
    <div class="testimonials span4 offset8"> 
      <h4><span>//  </span>Testimonials</h4> 
      <div class="row">
        <div class="span4">
          <table class="table">
            <thead>
              <tr>
                <th><i class="icon-flag"></i>Kick Ass</th>
              </tr> 
            </thead>
            <tbody>
              <tr> 
                <td>Hi</td> 
              </tr> 
              <tr> 
                <td>Hello</td>
              </tr> 
            </tbody> 
          </table>
        </div>
      </div>
    </div>  <!-- testimonials --> 
  </div> <!-- main-content --> 
</div>  <!-- container --> 

<div class="outro">z</div> 
