<ol> 
  <div class="canvas">
    <div class="canvas-info">
      <li><%= canvas.name %></li>
      <p>Last updated - <%= time_ago_in_words canvas.updated_at %> ago</p> 
    </div> 
    <div class="canvas-options">
      <ul>
        <li><i class="icon-edit"></i>Edit Name</li>
        <li><i class="icon-remove"></i>Delete Canvas</li>
        <li><i class="icon-plus"></i>Add Collaborators</li>
      </ul>
    </div> 
 </div>
</ol> 

