<div id="canvas"> 
  <table class="canvas"> 
    <tbody>
      <tr> 
        <td class="area" id="problem" rowspan="2">Problem</td>
        <td class="area" id="key_activities">Key Activities</td> 
        <td class="area" id="unique_value_proposition" colspan="2" rowspan="2">Unique Value Proposition</td>
        <td class="area" id="unfair_advantage">Unfair Advantage</td>
        <td class="area" id="customer_segments" rowspan="2">Customer Segments</td>
      </tr> 
      <tr> 
        <td class="area" id="key_metrics">Key Metrics</td>
        <td class="area" id="channels">Channels</td>
      </tr> 
      <tr> 
        <td class="area" id="cost_structure" colspan="3">Cost Structure</td>
        <td class="area" id="revenue_streams" colspan="3">Revenue Streams</td>
      </tr> 
    </tbody>
  </table>
