<%= render 'shared/flash_messages' %>
<h1 class="canvas">Canvas</h1>
<div class="canvas-extra">
  <div class="canvas-extra-container">
    <div class="canvas-name"><p>Name: <span class="name"><%= @canvas.name  %></span></p></div>
    <div class="tags">
        <p>Tags:</p> 
        <div class="hypothesis"><div class="box"><span>hypothesis<span></div></div>
        <div class="validated"><div class="box"><span>validated</span></div></div>
        <div class="invalidated"><div class="box"><span>invalidated</span></div></div>
    </div>
  </div>
</div> 
<div id="canvas-table"> 
  <table class="canvas"> 
    <tbody>
      <tr> 
        <td class="area" id="problems" rowspan="2">
          <div class="header">
            <h4>Problems</h4>
          </div>
          <div class="items" id="three">   <!-- id: one - unique value proposition, two - cost structure & revenue streams, three - the rest --> 
            <ul>
              <% @canvas.problems.each do |problem| %> 
                <div class="item-container">
                  <div class="item">
                    <li><%= problem.content %></li>
                  </div>
                  <div class="item-options">
                    <i class="icon-tag"></i>
                    <i class="icon-remove"></i>
                  </div>
                </div>
              <% end %>
            </ul>
          </div>
          1
        </td>
        <td class="area" id="key_activities">
          <div class="header">
            <h4>Key Activities<h4>
          </div>
           <div class="items" id="three">
          </div>
          5
        </td> 
        <td class="area" id="unique_value_propositions" colspan="2" rowspan="2">
          <div class="header">
            <h4>Unique Value Propositions</h4>
          </div>
          <div class="items" id="one">
          </div>
          3
        </td>
        <td class="area" id="unfair_advantages">
          <div class="header">
            <h4>Unfair Advantages</h4>
          </div>
          <div class="items" id="three">
          </div>
          9
        </td>
        <td class="area" id="customer_segments" rowspan="2">
          <div class="header">
            <h4>Customer Segments</h4>
          </div>
          <div class="items" id="three">
          </div>
          2
        </td>
      </tr> 
      <tr> 
        <td class="area" id="key_metrics">
          <div class="header">
            <h4>Key Metrics</h4>
          </div>
          <div class="items" id="three">
          </div>
          8
        </td>
        <td class="area" id="channels">
          <div class="header">
            <h4>Channels</h4>
          </div>
          <div class="items" id="three">
          </div>
          4
        </td>
      </tr> 
      <tr> 
        <td class="area" id="cost_structures" colspan="3">
          <div class="header">
            <h4>Cost Structures</h4>
          </div>
          <div class="items" id="two">
          </div>
          7
        </td>
        <td class="area" id="revenue_streams" colspan="3">
          <div class="header">
            <h4>Revenue Streams</h4>
          </div>
          <div class="items" id="two">
          </div>
          6
        </td>
      </tr> 
    </tbody>
  </table>
</div> 

