// Place all the styles related to the Canvases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1.canvas { 
  text-align: center; 
  position: relative; 
  top: 25px; 
} 

div.canvas-extra { 
  position: relative; 
  top: 45px; 

  div.canvas-extra-container { 
    width: 900px; 
    margin: 0 auto; 
    position: relative; 

    div.canvas-name { 
      position: relative; 
      left: 10px; 
 
      span.name { 
        font-weight: bold; 
        text-shadow: 0 1px 1px #FFF; 
        color: #40a6c4; 
      } 

    } 

    div.tags { 
      font-size: 12px; 
      position: absolute; 
      top: 0; 
      right: 0; 
      width: 330px;
  
      p { 
        position: relative; 
        left: 30px; 
      } 
 
      div.box { 
        height: 20px; 
        width: 20px; 
    
        span { 
          padding-left: 25px; 
        } 
      } 

      div.hypothesis { 
        background: #40a6c4; 
        position: absolute; 
        top: 0; 
        left: 72px; 
      } 

      div.validated { 
        background: #61dc3f; 
        position: absolute; 
        top: 0; 
        left: 160px; 
      } 

      div.invalidated { 
        background: red; 
        position: absolute; 
        top: 0; 
        left: 240px; 
      } 

    } 
  } 
} 

div#canvas-table { 
  position: relative; 
  top: 45px; 

  table.canvas { 
    background: white; 
    height: 600px; 
    width: 900px; 
    margin: 0 auto;  
    border-collapse: collapse; // borders in table won't have space between them

    td.area { 
      border: 2px solid black; 
      text-align: center; 
      position: relative; 
 
      &:hover { 
        background: #eef7fa; 
      } 

      div.header { 
        position: absolute; 
        top: 0; 
        margin: 10px; 
        border-bottom: 1px solid black; 
      } 


      div.items { 
        width: 165px; 
        position: absolute; 
        top: 37px;
        margin-left: 10px; 
 

        input { 
          height: 12px; 
          width: 125px; 
        } 

        div.item-insert  { 
          position: relative; 

          input.one { 
            height: 12px; 
            width: 148px; 
          } 
  
          input.two { 
            height: 12px; 
            width: 420px; 
          }

          input.three { 
            height: 12px; 
            width: 155px; 
          } 

          a.new-save { 
            position: absolute; 
            right: 40px;  
          } 

          a.new-save, a.new-cancel {
            float: right; 
            font-size: 10px; 
            margin-top: -8px; 
          } 

        } 

        div.item-container {
          height: 20px; 
          width: 165px; 
          position: relative; 
          left: -25px; 
          margin-bottom: 8px; 

          &:hover { 
            background: white; 
          } 
 
          div.item { 
            width: 132px; 

            li  { 
              list-style-type: none; 
              text-align: left; 
              width: 137px; 
            } 
          } 

          div.item-options { 
            position: absolute; 
            top: 2px;
            right: 0; 
            display: none; 

            i { 
              margin-right: -2px; 
            } 

          } 
        } 
      } 

      div#one { 
        top: 53px; 

        div.item-container { 
          width: 158px; 

          li { 
            width: 130px; 
          } 

        } 

        a.new-save { 
          right: 48px; 
        } 

        a.new-cancel { 
          margin-right: 8px; 
        } 
      } 
 
      div#two { 
        width: 428px; 
        
        div.item-container { 
          width: 428px; 

          li { 
            width: 400px; 
          } 

        } 
      } 

      div.items.b { 

        div.item-container { 
          width: 157px; 

          div.item li { 
            width: 130px; 
          } 

        } 
  

        div.item-insert { 

          input.three { 
            width: 150px; 
          } 
  
          a.new-save { 
            right: 45px; 
          } 
     
          a.new-cancel { 
            margin-right: 5px; 
          } 

        } 
      } 
    } 

    td#problem { 
      height: 66%; 
      width: 20%; 
    }

    td#key_activities { 
      height: 33%; 
      width: 20%; 
    }

    td#unique_value_proposition { 
      height: 66%; 
      width: 20%; 
    } 

    td#unfair_advantage { 
      height: 33%; 
      width: 20%; 
    }

    td#customer_segments { 
      height: 66%; 
      width: 20%; 
    } 

    td#key_merics { 
      height: 33%; 
      width: 20%; 
    }

    td#channels { 
      height: 33%; 
      width: 20%; 
    }

    td#cost_structure { 
      height: 33%; 
      width: 50%; 
    }

    td#revenue_streams { 
      height: 33%; 
      width: 50%; 
    } 

  } 
} 

