// Place all the styles related to the invites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#modalInvites { 
  min-height: 350px; 

  div#invites { 
    height: 300px; 
    overflow: auto; 

    div#invite { 
      height: 43px; 

      &:hover { 
        background-color: #eef7fa; 
      } 
      
      i#invite-icon { 
        float: left; 
        margin: 7px 0 0 15px; 
      } 

      div#invite-info { 
        float: left; 
        margin-left: 15px; 

        div#invite-by { 
          font-size: 15px; 
        } 

        div#invite-date { 
          font-size: 11px; 
        } 
      } 

      div#invite-confirm { 
        float: right; 
        margin: 7px 15px 0 0;  
      } 

      } 
  } 
} 

div#modalCollaborators { 
  min-height: 450px; 

  div#collaborators { 
    height: 300px;
    overflow: auto; 

    div#collaborator {
      clear: both; 
      height: 23px; 
      padding: 10px 5px; 

      &:hover { 
        background-color: #eef7fa; 
      } 

      div, i { 
        float: left; 
      } 

      div#collaborator-name { 
        width: 250px;
        margin-left: 10px;  
      } 

      a#collaborator-mail { 
        float: right; 
        color: black; 

        &:hover { 
          color: black; 
          text-decoration: none; 
        } 
      } 
    } 
  } 

  div#test { 
    clear: both; 
  } 

  div#invite-new { 
    clear: both; 
    margin-top: 20px; 
  } 

  div#invite-form { 
    margin-top: 10px; 

    input[type="text"] { 
      float: left; 
      width: 210px; 
      margin-right: 10px; 
    } 

    p#invite-error { 
      float: left; 
      color: red; 
    } 
  } 
} 


