@import "bootstrap"; 

/* universal */ 

html { 
  overflow-y: scroll; 
} 

body { 
  padding-top: 30px; 
} 

/* header */ 

#logo { 
  float: left; 
  margin-right: 10px; 
  color: #fff; 
  text-transform: uppercase; 
  letter-spacing: -1px; 
  padding-top: 9px; 
  font-size: 1.7em;  
  font-weight: bold; 
  line-height: 1; 
} 

#logo:hover { 
  color: #fff; 
  text-decoration: none; 
} 

/* typography */ 

h1.form, h1.dashboard { 
  text-align: center; 
  margin-top: 25px; 
}

/* alert */ 

div.alert.alert-success {
  text-align: center; 
  margin-top: 20px; 
  margin-bottom: -10px; 
  padding-left: 35px; 
} 

/* intro */ 

div.intro, div.signup, div.signin { 
  background: white; 
  height: 300px; 
  margin-top: 50px; 
  border-radius: 30px; 
  -webkit-border-radius: 30px; 
  -moz-border-radius: 30px; 
  position: relative; 
} 

div.intro-content { 
  width: 500px; 
  text-align: left; 
  margin-left: 60px; 
}

div.intro-content a {
  margin-top: 20px; 
} 

div.canvas-intro { 
  position: absolute; 
  top: 20px; 
  right: 0;  
  margin-right: 60px; 
  height: 259px; 
  width: 350px; 
  border: 2px solid black; 
  overflow: hidden; 
  box-shadow: 5px 5px 3px #191919; 
} 

h1.intro { 
  font-size: 70px; 
  letter-spacing: -1px; 
  line-height: 1.2; 
  color: black; 
  padding-top: 30px; 
  padding-bottom: 10px; 
  text-shadow: 2px 2px 2px #333; 
} 

p.intro { 
  font-size: 18px; 
  line-height: 24px; 
} 

div.home-content { 
  position: relative; 
} 

div.home-content span { 
  color: #40a6c4; 
} 

div.features { 
  position: absolute; 
  top: 0; 
  left: 0; 
  margin-top: 40px; 
  margin-left: 20px; 
  text-align: center; 
  font-weight: bold; 
} 

div.testimonials { 
  position: absolute; 
  top: 0; 
  right: 0; 
  margin-top: 40px; 
  text-align: center; 
  font-weight: bold; 
} 

/* main */ 

div.main { 
  background: url('brushed_alu.png'); 
  height: 800px; 
  padding-bottom: 10px; 
  position: relative; 
} 

/* outro */ 

div.outro { 
  background: #191919; 
  position: absolute; 
  bottom: 0; 
  height: 150px; 
  width: 100%; 
} 

/* footer */ 

footer { 
  background: black; 
  height: 60px; 
} 

footer div.copyright { 
  color: white; 
  width: 350px; 
  margin: 0  auto; 
  padding-top: 25px; 
}

/* dashboard */ 

div.content-area { 
  background: white; 
  margin-top: 20px; 
  border-radius: 30px; 
  -webkit-border-radius: 30px; 
  -moz-border-radius: 30px; 
  position: relative; 
  height: 600px; 

  h3 {
    margin-left: 40px; 
    padding-top: 25px; 

  } 
  
  li {
    list-style-type: none; 
  }

  div.canvases-main { 
    width: 470px; 
 
    div.canvases { 
      margin-left: 18px; 
      margin-top: 15px;  
      width: 500px;
      margin-bottom: -30px; 
 
      p.notice { 
        margin-left: 23px; 
      }   

      div.canvas { 
        border: 1px solid black; 
        height: 55px; 
        margin-bottom: 30px; 
        margin-right: 70px; 
        padding: 10px;
        position: relative; 

        div.canvas-info { 
   
          li { 
            font-weight: bold; 
          } 
 
          p { 
            display: inline; 
            margin: 0px; 
            font-size: 10px; 
          } 

        } 

        div.canvas-options { 
          position: absolute; 
          top: 10px; 
          right: 15px; 

          i { 
            padding-right: 5px; 
          } 

        } 
      } 
    } 
  } 

  div.feeds { 
    position: absolute; 
    top: 0; 
    right: 0; 
    width: 470px; 
  } 
}   

/* form */ 

form.new_user, form.new_session, form.edit_user { 
  width: 310px; 
  position: absolute; 
  left: 50%; 
  margin-left: -155px; 
  padding-top: 15px; 
} 

input { 
  width: 300px; 
  display: block; 
} 

div#error_explanation { 
  margin-top: 20px; 
} 

/* signup form */ 

div.signup { 
  position: relative; 
  height: 350px; 
  margin-top: 20px; 
}
 
/* signin form */

div.signin { 
  position: relative; 
  height: 200px; 
  margin-top: 20px; 
}

