@import "bootstrap"; 

/* universal */ 

html { 
  overflow-y: scroll; 
  height: 100%; 
  position: relative; 
} 

body { 
  position: relative; 
  min-height: 100%; 
  background: url('brushed_alu.png') repeat left top; 
  padding-bottom: 290px;
} 

/* header */ 

#logo { 
  float: left; 
  margin-right: 10px; 
  color: #fff; 
  text-transform: uppercase; 
  letter-spacing: -1px; 
  padding-top: 9px; 
  font-size: 1.7em;  
  font-weight: bold; 
  line-height: 1; 

  &:hover { 
  color: #fff; 
  text-decoration: none; 
  } 

} 

/* typography */ 

h1.form, h1.dashboard { 
  text-align: center; 
  margin-top: 70px; 
}

/* navbar */

.navbar {

  .navbar-inner { 
    background: black;
  } 
}

.navbar .nav > li > a { 
  #padding: 100px 100px 100px 100px;
  color: white; 
  text-shadow: none; 

  &:hover { 
    color: #999999; 
  } 
  
} 

.caret { 
  border-top: 4px solid white; 
} 

/* alert */ 

div.alert-success, div.alert-error, div.alert-notice {
  text-align: center; 
  margin-top: 20px; 
  padding-left: 35px; 
} 

/* main */ 

div.main { 
  height: auto; 
}

/* intro */ 

div.intro, div.signup, div.signin { 
  background: white; 
  height: 300px; 
  margin-top: 70px; 
  border-radius: 30px; 
  -webkit-border-radius: 30px; 
  -moz-border-radius: 30px; 
  position: relative; 
} 

div.intro-content { 
  width: 500px; 
  text-align: left; 
  margin-left: 60px; 
}

div.intro-content a {
  margin-top: 20px; 
} 

div.canvas-intro { 
  position: absolute; 
  top: 20px; 
  right: 0;  
  margin-right: 60px; 
  height: 259px; 
  width: 350px; 
  border: 2px solid black; 
  overflow: hidden; 
  box-shadow: 5px 5px 3px #191919; 
} 

h1.intro { 
  font-size: 70px; 
  letter-spacing: -1px; 
  line-height: 1.2; 
  color: black; 
  padding-top: 30px; 
  padding-bottom: 10px; 
  text-shadow: 2px 2px 2px #333; 
} 

p.intro { 
  font-size: 18px; 
  line-height: 24px; 
} 

div.home-content { 
  position: relative; 
  margin-bottom: 200px; 

  h4 { 
    margin-bottom: 20px; 
  } 

  span { 
    color: #40a6c4; 
  } 

  i { 
    padding-right: 5px; 
  } 
  
  div.features { 
    margin-top: 40px; 

    h4#features-id { 
      width: 620px; 
      text-align: center; 
    } 


    div.features-left { 
    } 

    div.features-right { 
    }
  } 
 
} 

div.testimonials { 
  position: absolute; 
  top: 0; 
  right: 0; 
  text-align: center; 
  font-weight: bold; 

  tr { 
    position: relative; 
  } 
  
  div.pic { 
    float: left; 
    width: 50px; 
    margin-top: 5px; 

    img#ao { 
      height: 50px; 
    } 

    img#mz { 
      height: 50px; 
      width: 40px; 
    } 
 
    img#sj { 
      height: 50px; 
      width: 40px; 
    } 

  } 

  div.testimonial { 
    margin-left: 45px; 

    p#name { 
    } 

    p#recommendation { 
      font-weight: normal; 
    } 
  } 
} 

/* footer */ 

footer { 
  position: absolute; 
  bottom: 0px; 
  width: 100%;
  height: 290px;
  background: black; 
  color: white; 

  h4 { 
    color: white; 
    margin: 20px 0; 
  } 

  span { 
    color: #40a6c4; 
  } 

  div.information { 
    background: #191919;

    div.outro { 
      height: 155px; 
    
      li { 
        list-style-type: none; 
        margin-left: -25px; 
        margin-bottom: 10px; 

        a { 
          font-size: 11px; 
          color: grey; 
        } 
      } 

      div.links-left { 
        float: left; 
        width: 120px;
      } 
 
      div.links-right {
        float: right; 
        width: 120px; 
      } 

      div.social-icons { 
        margin-top: 15px; 

        img#fb { 
          margin-left: 50px; 
          height: 50px; 
          opacity: 0.2; 

          &:hover { 
            opacity: 1; 
          } 
        } 

        img#twitter { 
          margin-left: 23px; 
          height: 50px; 
          opacity: 0.2; 

          &:hover { 
            opacity: 1; 
          } 

        } 

        img#gp { 
          float: right; 
          margin-right: 50px; 
          height: 50px; 
          opacity: 0.3; 

          &:hover { 
            opacity: 1; 
          } 

        } 
      } 

      input#subscribe { 
        width: 200px; 
        height: 20px; 
      } 
   
    } 
  } 

  div.copyright { 

    p { 
      text-align: center; 
      margin: 0  auto; 
      padding-top: 25px; 
      } 
  }
} 



/* dashboard */ 

div.content-area { 
  position: relative; 
  #min-height: 350px; 
  height: 785px; 
  margin-top: 20px; 
  margin-bottom: 200px; 
  padding-bottom: 40px; 
  background: white; 
  border-radius: 30px; 
  -webkit-border-radius: 30px; 
  -moz-border-radius: 30px; 

  /*
     Using the :after pseudo-element to insert clear property
     instead of adding an empty div in html first or assigning 
     .clearfix bootstrap class. 
  */  

  &:after { 
    content: ""; 
    display: block; 
    clear: both; 
  } 

  div#invites-show { 

    hr.invite { 
      border-top: 1px solid black; 
      width: 91%; 
      margin: 10px auto; 
    } 

    text-align: center; 
    padding-top: 30px; 
  } 

  li {
    list-style-type: none; 
  }

  div.canvases-main { 
    float: left; 
    width: 485px; 
    height: 780px; 
    //overflow-y: auto; 

    h3.canvases-header {
      margin-left: 40px; 
      padding-top: 25px; 
    } 

    a.new { 
      float: right; 
      margin-top: 35px; 
      margin-right: 56px; 
    } 
 
    div.canvases { 
      margin-left: 18px; 
      margin-top: 15px;  
      height: 702px; 
      width: 450px;
      margin-bottom: -30px; 
      overflow-y: auto; 
 
      p.notice { 
        margin-left: 23px; 
        margin-bottom: 20px; 
        width: 400px; 
      }   

      div.canvas { 
        position: relative; 
        width: 363px; 
        height: 60px; 
        margin-left: 25px; 
        margin-bottom: 30px; 
        padding: 10px; 
        padding-top: 15px; 
        border: 1px solid black; 

        &:hover { 
          background: #eef7fa; 
        } 

        div.canvas-info { 
          height: 65px; 
          position: relative; 
   
          li.edit { 
            font-weight: bold; 
        
            input { 
              margin-bottom: 2px; 
              width: 200px; 
              height: 15px; 
            } 
 
            a.edit-save { 
              margin-left: 140px; 
              margin-right: 5px; 
            } 

            a.edit-save, a.edit-cancel { 
              font-size: 12px; 
            } 
          
          } 
 
          p { 
            position: absolute; 
            top: 43px; 
            display: inline; 
            font-size: 10px; 
          } 

        } 

        div.canvas-options { 
          position: absolute; 
          top: 15px; 
          right: 15px; 

          i { 
            padding-right: 5px; 
          } 

        } 
      } 
    } 
  
  } 

  div.feeds-main { 
    float: right; 
    margin-right: 30px; 
    width: 400px; 
    height: 710px; 

    h3.feeds-header { 
      padding-top: 25px; 
    } 

    div.feeds {
      height: 702px; 
      overflow-y: auto; 
    } 
  } 
}   

/* form */ 

form.new_user, form.new_session, form.edit_user { 
  width: 310px; 
  position: absolute; 
  left: 50%; 
  margin-left: -155px; 
  padding-top: 15px; 
} 

input { 
  width: 300px; 
  display: block; 
} 

div#error_explanation { 
  margin-top: 20px; 
} 

/* signup form */ 

div.signup { 
  position: relative; 
  height: 390px; 
  margin-top: 20px; 
}
 
/* signin form */

div.signin { 
  position: relative; 
  height: 210px; 
  margin-top: 20px; 
}

/* bootstrap modal */ 

.modal-body { 
  max-height: none; 
} 
