<footer class="footer"> 
  <div class="information">
    <div class="container">
      <div class="outro">
          <div id="left" class="span4"> 
            <h4><span>// </span>Information</h4>
              <div class="links-left">
                <ul>
                  <li><%= link_to 'Home', root_path %></li>
                  <li><a href='#'>About</a></li>
                  <li><a href='#'>Terms of use</a></li>
                </ul>
              </div>
              <div class="links-right">
                <ul>
                  <li><a href='#'>FAQ</a></li>
                  <li><a href='#'>License</a></li>
                  <li><a href='#'>Privacy Policy</a></li>
                </ul>
              </div>
          </div>
          <div id="center" class="span4"> 
            <h4><span>// </span>Keep in touch</h4>
            <p>Get in touch with us for a question, a suggestion or just primarily to say hello! We also love hearing about your startup so give us a shout out if you can.</p>
            <div class="social-icons">
              <a href='#'><%= image_tag 'facebook.png', id: 'fb' %></a>
              <a href= '#'><%= image_tag 'twitter.png', id: 'twitter' %></a>
              <a href='#'><%= image_tag 'gplus.png', id: 'gp' %></a>
            </div>
          </div>
          <div id="right" class="span4"> 
            <h4><span>// </span>Subscribe and get updates</h4>
            <p>Subscribe to our newsletter and get exclusive tips from experts on funding, marketing, and growing your business.<p>
            <form id="subscribe">
              <input id="subscribe" type="text" value="Your Email"></input>
              <input type="submit" class="btn" id="subscribe-button" value="Subscribe"></input>
            </form>
          </div>
      </div>
    </div>
  </div>
  <div class="copyright"> 
    <p>&#169; 2013 JW, LLC. All Rights Reserved. Crafted with Love.<p>
  </div>
</footer> 
